<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="mysqlDataBase1" connectionString="Server=10.1.0.49;Port=7306;Database=jzap;uid=root;pwd=J2ap49dEvP"/>
    <add name="mysqlDataBase2" connectionString="Server=10.1.0.29;Port=7306;Database=jzap;uid=root;pwd=J2ap29@Test"/>
  </connectionStrings>
</configuration>